body{
    margin: 0px;
}

/* navbar 시작 */
.btn-outline-success {
    color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:active {
    color: #fff;
    background-color: chocolate;
    border-color: chocolate;
}

.btn-outline-success:focus {
    box-shadow: 0 0 0 0.25rem rgb(210 105 30 / 50%);
}

.btn-outline-success:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(210 105 30 / 50%);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: chocolate;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(210 105 30 / 25%);
}
/* navbar 끝*/

/* main 시작 */
.card:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
/* main 끝 */

/* footer 시작 */
footer{
    background-color: black;
    color: white;
}

footer a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}

footer a:hover{
    color: rgb(179, 177, 177);
}

.first{
    border-bottom: 1px solid #392d23;
}

.col{
    padding-bottom: 1rem;
}

.mobile-footer{
    display: none;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 300;
    border-top: 1px solid #392d23;
}

@media screen and (max-width: 48rem){
    .first{
        text-align: center;
    }

    .second{
        padding: 0 2rem;
    }
    
    .mobile-footer{
        display: block;
    }

    .flag{
        display: none;
    }

    .card{
        margin-bottom: 15px;
    }
}
/* footer 끝 */